<!DOCTYPE html>
<html>
  <head>
    <title>Education App</title>
    <link rel='stylesheet' href='stylesheets/style.css'/>
  </head>
  <body>
    <h1>Education App - Modules</h1>
      <a href="countdown/game.html" class="buttons">Countdown</a><br>
      <a href="points/index.html" class="buttons">Points</a><br>
      <a href="levels/index.html" class="buttons">Levels</a><br>
      <script type="text/javascript" src="/js/index.js"></script></br>
      <form name="input" action="login.php" method="post">
        Username: <input type="text" name="user"></br></br>
        Password: <input type="password" name="pwd"></br></br>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>