<!DOCTYPE html>
<html>
  <head>
    <title>Cache Service with Node.js Example - Using REST API</title>
    <link rel='stylesheet' href='stylesheets/style.css'/>
  </head>
  <body>
    <h1>Education App - Modules</h1>
	<a href="countdown/game.html" class="buttons">Countdown</a><br>
	<a href="points/index.html" class="buttons">Points</a><br>
	<a href="levels/index.html" class="buttons">Levels</a><br>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>